body {
  min-width: 372px;
}

.top{
  background-color: #8c52ff;
}

video {
  max-width: 140px;
  max-height: 120px;
  width: auto;
  height: auto;
}

@media (max-width: 992px) {
  .navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, 
  .navbar > .container-xl, .navbar > .container-xxl {
      justify-content: space-around;
  }
}

.navbar-toggler {
  border-color: #ffffff;
}

.navbar-toggler::after {
  border-color: #ffffff;
}

#cart-link {
  text-decoration: none;
  color: #ffffff;
}

.navbar-collapse {
  flex-grow: unset;
}

.search {
  width: 600px;
  height: 60px;
}

.form-search {
  width: 600px;
  height: 50px;
}

.input-search {
  border-radius: 1rem 0rem 0rem 1rem;
  border: 1px solid #fff;
}

.btn-search {
  color: #8c52ff;
  background-color: #ffffff;
  border-radius: 0rem 1rem 1rem 0rem;
}
  
.btn-itens {
  color: #ffffff;
  outline: none;
}

.btn:active, .btn{
  box-shadow: none !important;
}

.btn-itens:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
}

@media (min-width:992px) {
  #main-header {
    width: 100%;
    background-color: #ffffff;
    border-bottom: 25px solid #8c52ff;
  }

  .announcement > p {
    color: #767b83;
    font-size: large !important;
  }
}

.promo {
  margin-left: 12vw;
}

.nav-link {
  text-decoration: none;
  color: #767b83;
  font-size: large;
}

.nav-link:hover, .nav-link:focus {
  text-decoration: underline #8c52ff 3px solid;
  color: #767b83;
}

.carousel-index {
  height: 315px;
}

.link-product {
  text-decoration: none;
  color: #767b83;
  font-size: 1.2rem;
}

.link-product:hover, .link-product:active {
  text-decoration: underline;
  color: #8c52ff;
}


.fa-chevron-left, .fa-chevron-right, .fa-star {
  color: #8c52ff;
}

.announcement > p {
  color: #767b83;
  font-size: small;
}

.card-footer > strong {
  color: #767b83;
}

#top-footer {
  background-color: #767b83;
}

#top-footer h6 {
  color: #fff;
}

#top-footer a {
  text-decoration: none;
  color: #fff;
}

#bottom-footer {
  background-color: #8c52ff;
}

#footer-text {
  color: #ffffff;
  font-size: 0.85rem;
}

/* Product Page */

#border-container {
  border: 1px ridge #767b83;
  padding: 1rem;
  border-radius: .25rem;
}

#fa-heart-product{
  color: #8c52ff;
}

.price, #model-product, #list-features {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 

#bg-announcement {
  border-radius: .25rem;
  background-color: #767b83;
  color: #ffffff;
}

#price-02 {
  margin-top: -.8rem;
  margin-left: .5rem;
  font-style: italic;
}

#price-02 > .ms-1 {
  color: #767b83;
}

#btn-1 {
  width: 100%;
  height: 3rem;
  border-radius: .25rem;
  background-color: #8c52ff;
  color: #ffffff;
  font-size: large;
  border-color: #767b83;
}

#btn-2 {
  width: 100%;
  height: 3rem;
  border-radius: .25rem;
  background-color: #767b83;
  color: #ffffff;
  font-size: large;
}